*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    }
    h1{
        margin: 0 auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    p{
        text-align: center;
        margin: 20px auto;
        font-size: 18px;
    }
    figure{
        display: flex;
        justify-content: center;
    }
    footer{
        text-align: center;
        margin-top: 17px;
        font-size: 20px;
    }
    